.Home {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin: 10px 0;
}

li {
  list-style: none;
  font-size: 30px;
  cursor: pointer;
}